[Unit]
Description=Refresh Demerzel's Manfred Ears Wiki mirror

[Timer]
OnCalendar=*-*-* *:03/5:00
OnCalendar=*-*-* 23:52:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=0
Unit=manfred-ears-wiki-sync.service

[Install]
WantedBy=timers.target
